@import "src/component/variable";

.container {
  display: flex;
  flex-direction: column;
  gap: 48px;
  padding: 64px 24px;
  background-color: #f4f5f7;

  @media(min-width: $breakpoint-tablet) {
    padding: 80px;
  }
}

.reason {
  display: flex; 
  flex-direction: column; 

  @media(min-width: $breakpoint-tablet) {
    gap: 32px;
    margin-left: 45px;
    margin-right: 45px;
  }
}

.title {
  margin: 0;
  font-size: 32px;
  text-align: center;
  font-weight: 300;

  @media(min-width: $breakpoint-tablet) {
    font-size: 40px;
  }
}

.description {
  font-size: 14px;
  text-align: center;
  color: hsl(233, 8%, 62%);

  @media(min-width: $breakpoint-tablet) {
    font-size: 18px;
  }
}

.feature-container {
  display: flex;
  flex-direction: column; 
  gap: 32px;

  @media(min-width: $breakpoint-tablet) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 56px;
    row-gap: 64px;
  }
}
